In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv('sales_082020.csv')

In [4]:
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [5]:
len(df)

237671

In [7]:
df.shape

(237671, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [11]:
len(df.seller_id.unique())

114227

In [12]:
df.seller_id.value_counts().count()

114227

In [13]:
df.seller_id.nunique()

114227

In [14]:
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [16]:
df[df['currency'] == 'EUR'].price.sum()

275837.69

In [18]:
df.currency.unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [28]:
df2 = pd.read_csv('currency_rates_082020_EUR.csv')

In [20]:
df2.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [21]:
df.date.dtypes

dtype('O')

In [23]:
df_sales = df.copy()
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [25]:
df_sales.date = pd.to_datetime(df_sales.date)

In [26]:
df2.date.dtypes

dtype('O')

In [29]:
df2.date = pd.to_datetime(df2.date)

In [30]:
df2

    currency       date    rate
0        EUR 2020-08-01  1.0000
1        EUR 2020-08-02  1.0000
2        EUR 2020-08-03  1.0000
3        EUR 2020-08-04  1.0000
4        EUR 2020-08-05  1.0000
..       ...        ...     ...
215      BRL 2020-08-06  6.3324
216      BRL 2020-08-07  6.4111
217      BRL 2020-08-08  6.4111
218      BRL 2020-08-09  6.4111
219      BRL 2020-08-10  6.4351

[220 rows x 3 columns]

In [31]:
dfnew = pd.merge(df_sales, df2, how = 'inner', on = ['currency', 'date'])
dfnew.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [34]:
dfnew['total_price'] = dfnew.price / dfnew.rate

In [36]:
dfnew.total_price.sum().round()

6471511.0

In [38]:
dfnew.brand.value_counts().head(1)

Nike    9575
Name: brand, dtype: int64

In [40]:
df.category.unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

In [50]:
df[df.category == 'Jewellery'].brand.isnull().value_counts()

True     13525
False     1398
Name: brand, dtype: int64

In [ ]:
df[(df.category == 'Jewellery') & df.brand.isnull()]

In [48]:
df[(df.category == "Jewellery") & (df.brand.isnull())].product_code.nunique()

10931

In [51]:
(df_sales.brand.value_counts() > 34).sum() - (df_sales.brand.value_counts() > 55).sum()

81

In [52]:
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [55]:
df[(df.buyer_country == 'AU') & (df.category == 'Shoes')].category.count()

658

In [62]:
dfnew.groupby('brand').total_price.mean().sort_values(ascending=False).head(1)

brand
Goyard    338.926936
Name: total_price, dtype: float64

In [61]:
dfnew.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total_price
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [65]:
dfnew[(dfnew.buyer_country == 'GB') & (dfnew.seller_country == 'GB')].total_price.sum().round()

3526745.0

In [66]:
dfnew[(dfnew.buyer_country == 'US') & (dfnew.seller_country == 'US')].total_price.sum()

2021779.311517296

In [68]:
dfnew[(dfnew.seller_country == 'US')].total_price.sum()

2106695.5606899997

In [74]:
(((dfnew[(dfnew.buyer_country == 'US') & (dfnew.seller_country == 'US')].total_price.sum()) / (dfnew[(dfnew.seller_country == 'US')].total_price.sum()))*100).round(2)

95.97